@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0 ;
    margin-bottom: 0;
}

.reservasi-container {
    position: relative;
  }
  
  .reservasi-content {
    min-height: 120vh;
    padding-top: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    z-index: 1;
  }
  
  .reservasi-text {
    color:  #DEB992;
    margin: 0;
  }
  
  .reservasi-text h2 {
    margin-top: 200px;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    
  }
  
  .reservasi-text p {
  
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  
  .Ordercontainer {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #1ba098;
    margin-bottom: 80px;
    background-color: rgba(0, 0, 0, 0.553);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(207, 143, 6);
  }
  
  .horizontal-input {
    display: flex;
    align-items: center;
    margin: 0;
}

.horizontal-input label {
    flex: 1;
}

.horizontal-input input,
.horizontal-input select {
    flex: 2;
    margin-left: 10px; /* Atur margin sesuai kebutuhan */
}
  
  .form-control {
   margin: 5px;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  .form-control:focus {
    border-color: #007bff;
  }
  
  .butOn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease-in-out;
    margin-top: 35px;
  }
  
  .butOn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out ;
    
  }
  
  .reservasi-img {
    min-height: 45vh;
    position: relative;
    margin: 0;
    overflow-y: hidden;
    display:block;
    background-size: cover;
    margin-bottom: 0;
 
    
  }
  
  .reservasi-img img{
    filter: blur(2px);
    position: fixed;
    max-width: 200%; 
    margin: auto;
    padding: 0;
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    min-height: 100vh;
    
  }

  
  .reservasi-img:hover {
    opacity: 1;
  }


/* Menu Container */
#menuContainer {
    margin-top: 20px;
  }

  /* Menu Dropdown */
 #menu {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  #menu:focus {
    border-color: #007bff;
  }
  